{% extends 'base.html.twig' %}
{% block title %}Creation d'une annonce{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container">
        <h1>Creer une nouvelle annonce.</h1>

        {{  form_start(form) }}
        {{  form_widget(form) }}
        <button class="btn btn-primary" type="submit">Valider l'annonce</button>
        {{  form_end(form) }}

    </div>
{% endblock %}

{% block _ad_images_widget %}

    <p>Ici, vous pouvez ajouter vos propres images !</p>
    {{  form_widget(form) }}

{% endblock %}
